ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
bla
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
*.tar.gz
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/Makefile
src/Makefile.in
src/foliatest
src/*.o
src/test-suite.log
src/tst.sh.log
src/tst.sh.trs
stamp-h1
test-driver
